<div class="results">
  <a href="/">Go Back Home</a>

  <h1><%= title %></h1>

  <h2>
    <%= firstName %> loves <%= secondName %> <%= resultA %> and <%= secondName%>
    loves <%= firstName %> <%= resultB %>
  </h2>
</div>
