---
import { TITLE } from '@lib/consts';
import '@styles/global.css';

export interface Props {
  title: string;
  desc: string;
  image?: string;
}

const {
  title,
  desc,
  image = Astro.url.origin + '/assets/open-graph.png',
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={desc} />

    <meta property="og:url" content={Astro.url.origin} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:image" content={image} />
    <meta property="og:site_name" content={TITLE} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={Astro.url.host} />
    <meta property="twitter:url" content={Astro.url.origin} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={desc} />
    <meta name="twitter:image" content={image} />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="px-4 md:px-6">
    <slot />
  </body>
</html>
